/* Navbar */
.bg-nav-app {
    background-image: linear-gradient(to right, rgb(238 113 104), rgb(243 175 114));
}

.bg-scroller {
    background-image: linear-gradient(to right, rgb(238 113 104), rgb(243 175 114)) !important;
    transition-delay: width 2s, height 2s, transform 2s;
}

.navbar-brand {
    font-family: Viga;
    font-size: 32px;
}

.navbar-brand, .nav-link {
    color: white !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

/* Default Button */
.button-app {
    text-transform: uppercase;
    border-radius: 40px;
    color: white;
    /* background-color: rgb(66, 82, 219); */
    background: linear-gradient(to right, rgb(81 96 228), rgb(125 93 247));
    border: none;
    height: 35px;
    width: 100%;
}
.button-app:focus {
    border: none !important;
    box-shadow: none !important;
}

.nav-item.nav-button {
    display: flex;
    align-items: center;
}

/* Jomboton */
.jumbotron {
    background: url('/assets/img/jumbotron-bg.jpg');
    background-size: cover;
    height: 440px;
    display: flex;
    position: relative;
}
.jumbotron::after {
    content: '';
    display: block;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    height: 80%;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.container.jumbotron-text {
    margin: auto;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    z-index: 2;
}
.jumbotron .display-4 {
    text-align: center;
    font-weight: 200;
    font-size: 35px;
}
.jumbotron .display-4 span {
    font-weight: 500;
}
.jumbotron .lead span {
    font-weight: 500;
}

.container.content {
    margin-top: -100px;
}
/* Info Panel */
.info-panel {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    /* margin-top: -100px; */
    background-color: white;
    padding: 20px;
}

/* Panel Item Grid */
.panel-item {
    display: grid;
    align-items: center;
    grid-template-areas:
        'image title'
        'image subtitle'
    ;
    /* gap: 5px; */
}
.panel-item img {
    grid-area: image;
    width: 100%;
}
.panel-item h4 {
    grid-area: title;
    text-transform: uppercase;
    padding-top: 10px;
    margin: 0;
    margin-left: 10px;
}
.panel-item p {
    grid-area: subtitle;
    margin-left: 10px;
    color: #474747;
}

/* Panel Item Flex */
.panel-item-flex {
    display: flex;
    flex-direction: row;
    padding: 5px;
}
.panel-item-flex .panel-content-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel-item-flex .panel-content-image img {
    width: 70%;
}
.panel-item-flex .panel-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.panel-item-flex .panel-content h4 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}
.panel-item-flex .panel-content p {
    margin: 0;
    color: rgb(119, 119, 119);
    font-size: 12px;
}

/* Working Space */
.working-space {
    margin-top: 6rem !important;
}
.working-space .working-space-image img {
    width: 100%;
}
.working-space .content {
    margin-top: 30px;
}
.working-space .content h4 {
    text-transform: uppercase;
}
.working-space .content h4 span {
    font-weight: bold;
}

/* Quotes */
.quotes {
    margin-top: 6em;
}

.quotes .quote-text p {
    text-align: center;
    font-style: italic;
    font-weight: 300;
    font-size: 25px;
}
.quotes .quote-text p::before,
.quotes .quote-text p::after {
    content: '"';
    display: inline;
    padding: 5px;
    font-size: 1.5rem;
    font-weight: bold;
}
.users-quote {
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.users-quote img {
    width: 40px;
    opacity: 0.4;
}
.users-quote.active img{
    width: 60px;
    opacity: 1;
}
.users-quote.active h5{
    padding: 0;
    padding-top: 10px;
    font-size: 15px;
}
.users-quote.active p{
    font-size: 10px;
    color: #777777;
}

/* Footer */
footer span {
    color: #777777;
}
/* Desktop Version */
@media (min-width: 992px) {
    .bg-nav-app {
        background: none;
    }

    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }

    /* Indikator aktif nav */
    .nav-link:hover::after, .nav-link.active::after {
        content: '';
        display: block;
        border-bottom: 3px solid rgb(66, 82, 219);
        width: 50%;
        padding-bottom: 3px;
        margin: auto;
        margin-bottom: -8px;
    }

    .jumbotron {
        margin-top: -75px;
        height: 640px;
    }

    /* Working Space */
    .working-space .content {
        margin-top: 0;
        padding: 30px;
    }
    .working-space .content h4 {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 45px;
    }
    .working-space .content p {
        color: #777777;
        font-size: 14px;
        padding: 20px 0;
    }
}

@media (min-width: 575.98px) {
    .jumbotron .display-4 {
        font-size: 62px;
    }

    .jumbotron .lead {
        font-size: 15px;
    }
}
